{% extends 'base.html.twig' %}

{% block title %} Film {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/movie.css') }}">
{% endblock %}

{% block body %}

    {% if app.user is not null %}

        <div class="header">
            <a href="{{ path('app_home_home') }}"><img src="{{ asset('/assets/picture/Logo YouFilm3.png') }}"
                                                       alt="Logo YouFilm" class="logo"></a>

            <ul class="dropdown-menu dropdown-menu-end" style="background-color: #121212">
                <li class="dropdown-user-details">
                    <div class="d-flex justify-content-center align-items-center">
                        <span style="font-size: 1rem; color: whitesmoke; margin-right: 3%">Connecté en : </span>
                        <span style="font-size: 1rem; color: whitesmoke"> {{ user.username }}</span>
                    </div>
                </li>

                <li style="margin-top: 10%">
                    <a href="{{ path('app_favorite_movie') }}" class="dropdown-item user-action " target="_self" rel=""
                       referrerpolicy="origin-when-cross-origin">
                        <div class="d-flex justify-content-start align-items-center">
                            <img src="{{ asset('assets/picture/etoile.png') }}" style="height: 18px;margin-right: 10%" class="d-flex align-items-center justify-content-start" alt="sign out icon">
                            <span style="color: whitesmoke">Favoris</span></div>
                    </a>
                </li>

                <li>
                    <hr style="color: whitesmoke">
                </li>
                <li>
                    <a href="/logout" class="dropdown-item user-action " target="_self" rel=""
                       referrerpolicy="origin-when-cross-origin">
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="{{ asset('assets/picture/logout (2).png') }}" style="height: 15px;margin-right: 10%" class="d-flex align-items-center justify-content-start" alt="sign out icon">
                            <span style="color: whitesmoke">Déconnexion</span></div>
                    </a>
                </li>
            </ul>
        </div>

    {% else %} {# Utilisateur non-connecté #}

        <div class="header">
            <a href="{{ path('app_home_home') }}"><img src="{{ asset('/assets/picture/Logo YouFilm3.png') }}" alt="Logo YouFilm" class="logo"></a>

            <div class="button-header">
                <a href="{{ path('app_user_login') }}">
                    <button class="btn btn-danger button">Connexion</button>
                </a>
                <a href="{{ path('app_user_register') }}">
                    <button class="btn btn-danger button">Inscription</button>
                </a>
            </div>
        </div>

    {% endif %}

    <div class="div-header">
        <img src="{{ asset('assets/picture/header.jpg') }}" class="div-header-image" alt="image">
        <div class="div-header-content">
            <h2 class="div-header-text"> Tous les films </h2>
        </div>
    </div>

    <div class="div-all-movie">
    <div class="row card-movie justify-content-center align-items-center">
        {% for movie in movies %}

            <a href="{{ path('movie_show', { 'id': movie.id }) }} " class="movie-list">
                <div class="m-3 me-2 ms-2">
                    <img src="/images/{{ movie.thumbnail }}" class="card-img-top movie-thumbnail" alt="miniature film">
                </div>
            </a>

        {% endfor %}
    </div>
    </div>



{% endblock %}