{% extends 'base.html.twig' %}

{% block title %} Film {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/movie.css') }}">
{% endblock %}

{% block body %}

    <div class="header">
        <a href="{{ path('app_home_home') }}"><img src="{{ asset('/assets/picture/Logo YouFilm3.png') }}"
                                                   alt="Logo YouFilm" class="logo"></a>

        {# Utilisateur connecté #}

        {% if app.user is not null %}

            <div class="bg-red dropmenu-div dropdown user-menu-wrapper d-flex justify-content-center">
                <a type="button" class="dropmenu-div-a" data-bs-toggle="dropdown" data-bs-offset="0,5"
                   aria-expanded="false">
                    <div class="dropmenu-container d-flex align-items-center justify-content-center">
                        <i><img src="{{ asset('assets/picture/user.png') }}" alt="icone"></i>
                    </div>
                </a>

                <ul class="bg-color-1 dropdown-menu dropmenu-ul dropdown-menu-end">
                    <li class="dropdown-user-details">
                        <div class="color-whitesmoke d-flex justify-content-center align-items-center">
                            <span class="connected-in">Connecté en : </span>
                            <span class="dropmenu-username"> {{ user.username }}</span>
                        </div>
                    </li>

                    <li class="dropmenu-li">
                        <a href="/" class="dropdown-item user-action " target="_self"
                           referrerpolicy="origin-when-cross-origin">
                            <div class="d-flex justify-content-start align-items-center">
                                <img src="{{ asset('assets/picture/home.png') }}"
                                     class="dropmenu-icon-home d-flex align-items-center justify-content-start"
                                     alt="Home icon">
                                <span class="color-whitesmoke">Home</span></div>
                        </a>
                    </li>

                    <li class="dropmenu-li">
                        <a href="{{ path('app_account') }}" class="dropdown-item user-action " target="_self"
                           referrerpolicy="origin-when-cross-origin">
                            <div class="d-flex justify-content-start align-items-center">
                                <img src="{{ asset('assets/picture/user.png') }}"
                                     class="dropmenu-icon-home d-flex align-items-center justify-content-start"
                                     alt="user icon">
                                <span class="color-whitesmoke">Compte</span></div>
                        </a>
                    </li>

                    <li>
                        <hr class="color-whitesmoke">
                    </li>
                    <li>
                        <a href="/logout" class="dropdown-item user-action " target="_self"
                           referrerpolicy="origin-when-cross-origin">
                            <div class="d-flex justify-content-start align-items-center">
                                <img src="{{ asset('assets/picture/logout (2).png') }}"
                                     class="dropmenu-icon-signout d-flex align-items-center justify-content-start"
                                     alt="sign out icon">
                                <span class="color-whitesmoke">Déconnexion</span></div>
                        </a>
                    </li>
                </ul>

            </div>

        {% else %} {# Utilisateur non-connecté #}


            <div class="bg-red dropmenu-div dropdown user-menu-wrapper d-flex justify-content-center">
                <a type="button" class="dropmenu-div-a" data-bs-toggle="dropdown" data-bs-offset="0,5"
                   aria-expanded="false">
                    <div class="dropmenu-container d-flex align-items-center justify-content-center">
                        <i><img src="{{ asset('assets/picture/user.png') }}" alt="icone"></i>
                    </div>
                </a>

                <ul class="bg-color-1 dropdown-menu dropmenu-ul dropdown-menu-end">
                    <li class="dropmenu-li">
                        <a href="{{ path('app_user_login') }}" class="dropdown-item user-action " target="_self" rel=""
                           referrerpolicy="origin-when-cross-origin">
                            <div class="d-flex justify-content-start align-items-center">
                                <img src="{{ asset('assets/picture/user.png') }}"
                                     class="dropmenu-icon-user align-items-center justify-content-start"
                                     alt="User icon">
                                <span class="color-whitesmoke">Connexion</span></div>
                        </a>
                    </li>

                    <li>
                        <hr class="color-whitesmoke">
                    </li>

                    <li class="dropmenu-li">
                        <a href="{{ path('app_user_register') }}" class="dropdown-item user-action " target="_self" rel=""
                           referrerpolicy="origin-when-cross-origin">
                            <div class="d-flex justify-content-start align-items-center">
                                <img src="{{ asset('assets/picture/register.png') }}"
                                     class="dropmenu-icon-signin d-flex align-items-center justify-content-start"
                                     alt="Sign in icon">
                                <span class="color-whitesmoke">Inscription</span></div>
                        </a>
                    </li>
                </ul>

            </div>

        {% endif %}

    </div>

    <div class="div-header">
        <img src="{{ asset('assets/picture/header.jpg') }}" class="div-header-image" alt="image">
        <div class="div-header-content">
            <h2 class="div-header-text"> Mes Favoris </h2>
        </div>
    </div>


    {% if app.user %}
        <div class="card-movie">
            {% for reaction in reactions %}

                {% if reaction.userId.id == app.user.id %}
                    <a href="{{ path('movie_show', { 'id': reaction.movieId.id }) }}" class="movie-list">
                        <div class="m-3 me-2 ms-2">
                            <img src="/images/{{ reaction.movieId.thumbnail }}" class="card-img-top movie-thumbnail"
                                 alt="miniature film">
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}

        <div class="d-flex align-items-center justify-content-center">
            <h1 class="color-whitesmoke favorite-unconnected-user-text">Connectez vous pour avoir accès aux favoris</h1></div>
        <div class="d-flex align-items-center justify-content-center">
            <a href="{{ path('app_user_login') }}">
                <button class="btn btn-danger button">Connexion</button>
            </a>
        </div>

    {% endif %}





{% endblock %}