{% extends 'base.html.twig' %}

{% block title %} {{ movie.title }} {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/movie.css') }}">
{% endblock %}

{% block body %}

    <div class="header">
        <a href="{{ path('app_home_home') }}">
            <img src="{{ asset('/assets/picture/Logo YouFilm3.png') }}" alt="Logo YouFilm" class="logo">
        </a>
        {% if app.user is not null %} {# Affichage header utilisateur connecté #}

            <a href="{{ path('app_user_logout') }}">
                <button class="btn btn-light">Déconnexion</button>
            </a>

        {% else %} {# Affichage header utilisateur non-connecté #}

            <div class="button">
                <a href="{{ path('app_user_login') }}">
                    <button class="btn btn-light">Connexion</button>
                </a>
                <a href="{{ path('app_user_register') }}">
                    <button class="btn btn-light">Inscription</button>
                </a>
            </div>

        {% endif %}

    </div>

    <div class="d-flex align-items-center justify-content-center" style="height: 35rem">
        <div style="width: 50%" class="div-gauche">
            <div class="d-flex align-items-center div-title-movie">
                <h2 class="movie-title">{{ movie.title }}</h2>
                <button class="btn btn-danger button-category"><p class="movie-category-name">{{ movie.category.name }}</p></button>
            </div>
            <h4 class="movie-description-title">Description</h4>
            <p class="movie-description">{{ movie.description }}</p>
        </div>

        <div style="width: 50%">
            <div class="video">
                <video controls width="80%" class="video-player">
                    <source src="/images/{{ movie.video }}" type="video/mp4">
                </video>
            </div>
        </div>
    </div>

    <hr>

    {% if app.user is not null %} {# Affichage utilisateur connecté #}

        {% if app.user.isBanned == true %} {# Affichage utilisateur banni #}

            <h1 class="comment-ban"> vous êtes ban </h1>

        {% else %} {# Affichage utilisateur normal #}

            <div class="div-comment">

                <h2 class="comment-title">Commentaires</h2>

                <a href="{{ path('app_create_comment', {'id': movie.id}) }}" class="add-comment">
                    <button class="btn btn-light comment-button">Ajouter un commentaire</button>
                </a>

            </div>

            {% if comments is empty %} {# Affichage pas de commentaire #}

                <p class="no-comment">Pas de commentaires pour le moment.</p>

            {% else %} {# Affichage des commentaires #}

                {% for comment in comments %}
                    <div class="card m-3" style="width: 50rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ comment.userId.username }}</h5>
                            <p class="card-text">{{ comment.content }}</p>
                        </div>
                    </div>

                {% endfor %}

            {% endif %}

        {% endif %}


    {% else %} {# Affichage utilisateur non-connecté #}

        <h2>Connectez vous pour voir les commentaires</h2>

    {% endif %}


{% endblock %}