{% extends 'base.html.twig' %}

{% block title %} {{ movie.title }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/movie.css') }}">
{% endblock %}

{% block body %}

    <div class="header">
        <a href="{{ path('app_home_home') }}">
            <img src="{{ asset('/assets/picture/Logo YouFilm3.png') }}" alt="Logo YouFilm" class="logo">
        </a>
        {% if app.user is not null %} {# Affichage header utilisateur connecté #}

            <div class="dropdown user-menu-wrapper d-flex justify-content-center" style="background-color: red; border-radius: 5px; margin-right: 0.5rem">
                <a type="button" data-bs-toggle="dropdown" data-bs-offset="0,5" aria-expanded="false" style="padding: 5px">
                    <div style="width: 50px;" class="d-flex align-items-center justify-content-center">
                        <i><img src="{{ asset('assets/picture/user.png') }}" alt="icone" style="height: 25px;"></i>
                    </div>
                </a>

                <ul class="dropdown-menu dropdown-menu-end" style="background-color: #121212">
                    <li class="dropdown-user-details">
                        <div class="d-flex justify-content-center align-items-center">
                            <span style="font-size: 1rem; color: whitesmoke; margin-right: 3%">Connecté en : </span>
                            <span style="font-size: 1rem; color: whitesmoke"> {{ user.username }}</span>
                        </div>
                    </li>

                    <li style="margin-top: 10%">
                        <a href="{{ path('app_favorite_movie') }}" class="dropdown-item user-action " target="_self" rel=""
                           referrerpolicy="origin-when-cross-origin">
                            <div class="d-flex justify-content-start align-items-center">
                                <img src="{{ asset('assets/picture/etoile-pleine.png') }}" style="height: 22px;margin-right: 10%" class="d-flex align-items-center justify-content-start" alt="sign out icon">
                                <span style="color: whitesmoke">Favoris</span></div>
                        </a>
                    </li>

                    <li style="margin-top: 10%">
                        <a href="/" class="dropdown-item user-action " target="_self" rel=""
                           referrerpolicy="origin-when-cross-origin">
                            <div class="d-flex justify-content-start align-items-center">
                                <img src="{{ asset('assets/picture/home.png') }}" style="height: 18px;margin-right: 10%"
                                     class="d-flex align-items-center justify-content-start" alt="sign out icon">
                                <span style="color: whitesmoke">Home</span></div>
                        </a>
                    </li>

                    <li>
                        <hr style="color: whitesmoke">
                    </li>
                    <li>
                        <a href="/logout" class="dropdown-item user-action " target="_self" rel=""
                           referrerpolicy="origin-when-cross-origin">
                            <div class="d-flex justify-content-center align-items-center">
                                <img src="{{ asset('assets/picture/logout (2).png') }}" style="height: 15px;margin-right: 10%" class="d-flex align-items-center justify-content-start" alt="sign out icon">
                                <span style="color: whitesmoke">Déconnexion</span></div>
                        </a>
                    </li>
                </ul>

            </div>

        {% else %} {# Affichage header utilisateur non-connecté #}

            <div class="dropdown user-menu-wrapper d-flex justify-content-center" style="background-color: red; border-radius: 5px; margin-right: 0.5rem">
                <a type="button" data-bs-toggle="dropdown" data-bs-offset="0,5" aria-expanded="false" style="padding: 5px">
                    <div style="width: 50px;" class="d-flex align-items-center justify-content-center">
                        <i><img src="{{ asset('assets/picture/user.png') }}" alt="icone" style="height: 25px;"></i>
                    </div>
                </a>

                <ul class="dropdown-menu dropdown-menu-end" style="background-color: #121212">
                    <li style="margin-top: 10%">
                        <a href="{{ path('app_user_login') }}" class="dropdown-item user-action " target="_self" rel=""
                           referrerpolicy="origin-when-cross-origin">
                            <div class="d-flex justify-content-start align-items-center">
                                <img src="{{ asset('assets/picture/user.png') }}" style="height: 18px;margin-right: 10%" class="d-flex align-items-center justify-content-start" alt="sign out icon">
                                <span style="color: whitesmoke">Connexion</span></div>
                        </a>
                    </li>

                    <li>
                        <hr style="color: whitesmoke">
                    </li>

                    <li style="margin-top: 10%">
                        <a href="{{ path('app_user_login') }}" class="dropdown-item user-action " target="_self" rel=""
                           referrerpolicy="origin-when-cross-origin">
                            <div class="d-flex justify-content-start align-items-center">
                                <img src="{{ asset('assets/picture/register.png') }}" style="height: 25px;margin-right: 10%" class="d-flex align-items-center justify-content-start" alt="sign out icon">
                                <span style="color: whitesmoke">Inscription</span></div>
                        </a>
                    </li>
                </ul>

            </div>

        {% endif %}

    </div>

    <div class="d-flex align-items-center justify-content-center" style="height: 35rem">
        <div style="width: 50%" class="div-gauche">
            <div class="d-flex align-items-center div-title-movie">
                <h2 class="movie-title">{{ movie.title }}</h2>
                <a href="{{ path('app_category', {'name': movie.category.name,}) }}"><button class="btn btn-danger button-category"><p
                            class="movie-category-name">{{ movie.category.name }}</p></button></a>

                {% if app.user is not null %}

                    {% if app.user and reaction is null %}
                        <a href="{{ path('movies_favorite', {'id': movie.id}) }}">
                            <img src="{{ asset('/assets/picture/etoile.png') }}" alt="étoile favori" class="favorite-movie-icon">
                        </a>
                    {% elseif reaction.getType() == 'favorite' %}
                        <a href="{{ path('movies_favorite', {'id': movie.id}) }}">
                            <img src="{{ asset('/assets/picture/etoile-pleine.png') }}" alt="étoile favori pleine" class="favorite-movie-icon">
                        </a>
                    {% endif %}

                {% else %}

                {% endif %}


            </div>
            <h4 class="movie-description-title">Description</h4>
            <p class="movie-description">{{ movie.description }}</p>
        </div>

        <div style="width: 60%">
            <div class="video">
                <video controls width="80%" class="video-player">
                    <source src="/images/{{ movie.video }}" type="video/mp4">
                    <track label="Français" kind="subtitles" srclang="fr"  src="/images/{{ movie.subtitle }}">
                </video>
                </video>
            </div>
        </div>
    </div>

    <hr>

    {% if app.user is not null %} {# Affichage utilisateur connecté #}

        {% if app.user.isBanned == true %} {# Affichage utilisateur banni #}

            <h1 class="comment-ban"> Vous êtes ban </h1>
            <p class="comment-ban-text">En raison de votre violation des règles, l'accès à la fonctionnalité de
                commentaires vous a été retiré.</p>

        {% else %} {# Affichage utilisateur normal #}

            <div class="div-comment">

                <h2 class="comment-title">Commentaires</h2>

                <a href="{{ path('app_create_comment',{'id':movie.id}) }}" class="add-comment">
                    <button class="btn btn-danger comment-button">Ajouter un commentaire</button>
                </a>

            </div>

            {% if comments is empty %} {# Affichage pas de commentaire #}

                <p class="no-comment">Pas de commentaires pour le moment.</p>


            {% else %} {# Affichage des commentaires #}

                {% for comment in comments %}
                    <div class="card-comment" style="width: 50rem;">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <h5 class="card-comment-username">{{ comment.userId.username }}</h5>
                                <div class="icon-comment">
                                {% if comment.userId == app.user %}
                                    <a href="{{ path('app_delete_comment',{'id': comment.id }) }}"><img src="{{ asset('/assets/picture/supprimer.png') }}" alt="delete icon" class="delete-comment"></a>
                                    <a href="{{ path('app_edit_comment',{'id':comment.id}) }}"><img src="{{ asset('/assets/picture/editer(1).png') }}" alt="delete icon" class="edit-comment"></a>
                                {% endif %}
                                </div>
                            </div>
                            <p class="card-text">{{ comment.content }}</p>
                        </div>
                    </div>


                {% endfor %}

            {% endif %}

        {% endif %}


    {% else %} {# Affichage utilisateur non-connecté #}

        <div class="comment-offline">
            <h2>Connectez vous pour voir les commentaires</h2>
        </div>
        <div class="comment-offline">
            <a href="{{ path('app_user_login') }}">
                <button class="btn btn-danger button">Connexion</button>
            </a>
        </div>
    {% endif %}


{% endblock %}