{% extends 'base.html.twig' %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
{% endblock %}

{% block body %}

        <div class="header">
                <a href="{{ path('app_home_home') }}"><img src="{{ asset('/assets/picture/Logo YouFilm3.png') }}"
                                                           alt="Logo YouFilm" class="logo"></a>
                <div class="dropdown user-menu-wrapper d-flex justify-content-center" style="background-color: red; border-radius: 5px; margin-right: 0.5rem">
                        <a type="button" data-bs-toggle="dropdown" data-bs-offset="0,5" aria-expanded="false" style="padding: 5px">
                                <div style="width: 50px;" class="d-flex align-items-center justify-content-center">
                                        <i><img src="{{ asset('assets/picture/user.png') }}" alt="icone" style="height: 25px;"></i>
                                </div>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end" style="background-color: #121212">
                                <li class="dropdown-user-details">
                                        <div class="d-flex justify-content-center align-items-center">
                                                <span style="font-size: 1rem; color: whitesmoke; margin-right: 3%">Connecté en : </span>
                                                <span style="font-size: 1rem; color: whitesmoke"> {{ user.username }}</span>
                                        </div>
                                </li>

                                <li style="margin-top: 10%">
                                        <a href="/logout" class="dropdown-item user-action " target="_self" rel=""
                                           referrerpolicy="origin-when-cross-origin">
                                                <div class="d-flex justify-content-start align-items-center">
                                                        <img src="{{ asset('assets/picture/etoile.png') }}" style="height: 18px;margin-right: 10%" class="d-flex align-items-center justify-content-start" alt="sign out icon">
                                                        <span style="color: whitesmoke">Favoris</span></div>
                                        </a>
                                </li>

                                <li>
                                        <hr style="color: whitesmoke">
                                </li>
                                <li>
                                        <a href="/logout" class="dropdown-item user-action " target="_self" rel=""
                                           referrerpolicy="origin-when-cross-origin">
                                                <div class="d-flex justify-content-center align-items-center">
                                                        <img src="{{ asset('assets/picture/logout (2).png') }}" style="height: 15px;margin-right: 10%" class="d-flex align-items-center justify-content-start" alt="sign out icon">
                                                        <span style="color: whitesmoke">Déconnexion</span></div>
                                        </a>
                                </li>
                        </ul>

                </div>  
        </div>

        <div class="grid">
                <h2 class="mb-4">Ajouter un commentaire :</h2>

                {{ form_start(form) }}
                <div class="form-group">
                        {{ form_label(form.content, 'Contenu') }}
                        {{ form_widget(form.content, {'attr': {'class': 'form-field'}}) }}
                        {{ form_errors(form.content) }}
                </div>

                <div>
                        {{ form_row(form.submit, {'label': 'Envoyer', 'attr': {'class': 'btn-submit'}}) }}
                        <a href="{{ path('movie_show', {'id': movie.id}) }}" class="btn-cancel">Annuler</a>
                </div>
                {{ form_end(form) }}
        </div>

{% endblock %}
