{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
{% endblock %}

{% block body %}

    <div class="header">
        <a href="{{ path('app_home_home') }}"><img src="{{ asset('/assets/picture/Logo YouFilm3.png') }}"
                                                   alt="Logo YouFilm" class="logo"></a>

        {# Utilisateur connecté #}

        {% if app.user is not null %}

            <div class="bg-red dropmenu-div dropdown user-menu-wrapper d-flex justify-content-center">
                <a type="button" class="dropmenu-div-a" data-bs-toggle="dropdown" data-bs-offset="0,5"
                   aria-expanded="false">
                    <div class="dropmenu-container d-flex align-items-center justify-content-center">
                        <i><img src="{{ asset('assets/picture/user.png') }}" alt="icone"></i>
                    </div>
                </a>

                <ul class="bg-color-1 dropdown-menu dropmenu-ul dropdown-menu-end">
                    <li class="dropdown-user-details">
                        <div class="color-whitesmoke d-flex justify-content-center align-items-center">
                            <span class="connected-in">Connecté en : </span>
                            <span class="dropmenu-username"> {{ user.username }}</span>
                        </div>
                    </li>

                    <li class="dropmenu-li">
                        <a href="{{ path('app_favorite_movie') }}" class="dropdown-item user-action " target="_self"
                           referrerpolicy="origin-when-cross-origin">
                            <div class="d-flex justify-content-start align-items-center">
                                <img src="{{ asset('assets/picture/etoile-pleine.png') }}"
                                     class="dropmenu-icon-favorite d-flex align-items-center justify-content-start"
                                     alt="Favorite icon">
                                <span class="color-whitesmoke">Favoris</span></div>
                        </a>
                    </li>

                    <li class="dropmenu-li">
                        <a href="/" class="dropdown-item user-action " target="_self"
                           referrerpolicy="origin-when-cross-origin">
                            <div class="d-flex justify-content-start align-items-center">
                                <img src="{{ asset('assets/picture/home.png') }}"
                                     class="dropmenu-icon-home d-flex align-items-center justify-content-start"
                                     alt="Home icon">
                                <span class="color-whitesmoke">Home</span></div>
                        </a>
                    </li>

                    <li class="dropmenu-li">
                        <a href="{{ path('app_account') }}" class="dropdown-item user-action " target="_self"
                           referrerpolicy="origin-when-cross-origin">
                            <div class="d-flex justify-content-start align-items-center">
                                <img src="{{ asset('assets/picture/user.png') }}"
                                     class="dropmenu-icon-home d-flex align-items-center justify-content-start"
                                     alt="user icon">
                                <span class="color-whitesmoke">Compte</span></div>
                        </a>
                    </li>

                    <li>
                        <hr class="color-whitesmoke">
                    </li>
                    <li>
                        <a href="/logout" class="dropdown-item user-action " target="_self"
                           referrerpolicy="origin-when-cross-origin">
                            <div class="d-flex justify-content-start align-items-center">
                                <img src="{{ asset('assets/picture/logout (2).png') }}"
                                     class="dropmenu-icon-signout d-flex align-items-center justify-content-start"
                                     alt="sign out icon">
                                <span class="color-whitesmoke">Déconnexion</span></div>
                        </a>
                    </li>
                </ul>

            </div>

        {% else %} {# Utilisateur non-connecté #}


            <div class="bg-red dropmenu-div dropdown user-menu-wrapper d-flex justify-content-center">
                <a type="button" class="dropmenu-div-a" data-bs-toggle="dropdown" data-bs-offset="0,5"
                   aria-expanded="false">
                    <div class="dropmenu-container d-flex align-items-center justify-content-center">
                        <i><img src="{{ asset('assets/picture/user.png') }}" alt="icone"></i>
                    </div>
                </a>

                <ul class="bg-color-1 dropdown-menu dropmenu-ul dropdown-menu-end">
                    <li class="dropmenu-li">
                        <a href="{{ path('app_user_login') }}" class="dropdown-item user-action " target="_self" rel=""
                           referrerpolicy="origin-when-cross-origin">
                            <div class="d-flex justify-content-start align-items-center">
                                <img src="{{ asset('assets/picture/user.png') }}"
                                     class="dropmenu-icon-user align-items-center justify-content-start"
                                     alt="User icon">
                                <span class="color-whitesmoke">Connexion</span></div>
                        </a>
                    </li>

                    <li>
                        <hr class="color-whitesmoke">
                    </li>

                    <li class="dropmenu-li">
                        <a href="{{ path('app_user_register') }}" class="dropdown-item user-action " target="_self" rel=""
                           referrerpolicy="origin-when-cross-origin">
                            <div class="d-flex justify-content-start align-items-center">
                                <img src="{{ asset('assets/picture/register.png') }}"
                                     class="dropmenu-icon-signin d-flex align-items-center justify-content-start"
                                     alt="Sign in icon">
                                <span class="color-whitesmoke">Inscription</span></div>
                        </a>
                    </li>
                </ul>

            </div>

        {% endif %}

    </div>

    {% if app.user is not null %} {# Utilisateur connecté #}

        {% if app.user.isBanned == true %} {# Affichage utilisateur banni #}

            <div class="mt-5">
                <div class="color-whitesmoke d-flex align-items-center justify-content-center">
                    <h1 class="comment-ban">Vous êtes banni</h1>
                </div>
                <div class="color-whitesmoke d-flex align-items-center justify-content-center">
                    <p class="comment-ban-text">En raison de votre violation des règles, l'accès à la fonctionnalité d'ajout
                        commentaires vous a été retiré.</p>
                </div>
            </div>

        {% else %} {# Affichage utilisateur normal #}

            <div class="grid">
                <h2 class="mb-4">Ajouter un commentaire :</h2>

                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.content, 'Contenu') }}
                    {{ form_widget(form.content, {'attr': {'class': 'form-field'}}) }}
                    {{ form_errors(form.content) }}
                </div>

                <div>
                    {{ form_row(form.submit, {'label': 'Envoyer', 'attr': {'class': 'btn-submit'}}) }}
                    <a href="{{ path('movie_show', {'id': movie.id}) }}" class="btn-cancel">Annuler</a>
                </div>
                {{ form_end(form) }}
            </div>

        {% endif %}

    {% else %} {# Utilisateur non-connecté #}
        <div class="d-flex align-items-center justify-content-center mt-5">
            <h1 class="color-whitesmoke">Vous n'avez pas accès à cette page</h1>
        </div>
    {% endif %}



{% endblock %}
