{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/category.css') }}">
{% endblock %}

{% block body %}

    {# Utilisateur connecté #}

    {% if app.user is not null %}
        <div class="header">
            <a href="{{ path('app_home_home') }}"><img src="{{ asset('/assets/picture/Logo YouFilm3.png') }}" alt="Logo YouFilm" class="logo"></a>

            <div class="button-header">
                <a href="{{ path('app_user_logout') }}">
                    <button class="btn btn-danger button">Déconnexion</button>
                </a>
            </div>
        </div>

    {% else %} {# Utilisateur non-connecté #}

        <div class="header">
            <img src="{{ asset('/assets/picture/Logo YouFilm3.png') }}" alt="Logo YouFilm" class="logo">

            <div class="button-header">
                <a href="{{ path('app_user_login') }}">
                    <button class="btn btn-danger button">Connexion</button>
                </a>
                <a href="{{ path('app_user_register') }}">
                    <button class="btn btn-danger button">Inscription</button>
                </a>
            </div>
        </div>

    {% endif %}

    <div class="div-header">
        <img src="{{ asset('assets/picture/header.jpg') }}" class="div-header-image" alt="image">
        <div class="div-header-content">
            <h2 class="div-header-text"> {{ category.name }} </h2>
        </div>
    </div>


    <div class="row display-movie">
        {% for movie in movies|filter(movie => movie.category.name == category.name) %}
            <div class="col-md-2 mt-3">
                <div class="card mb-2">
                    <a href="{{ path('movie_show', { 'id': movie.id }) }}">
                        <img src="/images/{{ movie.thumbnail }}" class="card-img-top" alt="image">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                       {# <p class="card-text">{{ movie.description }}</p>#}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
