{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/category.css') }}">
{% endblock %}

{% block body %}

    <h1>{{ category.name }}</h1>
    <div class="row display-movie">
        {% for movie in movies | filter(movie => movie.category.name == category.name) %}
            <div class="col-md-2">
                <div class="card mb-2">
                    <a href="{{ path('movie_show', { 'id': movie.id }) }}">
                        <img src="/images/{{ movie.thumbnail }}" class="card-img-top" alt="image">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
