{% extends 'base.html.twig' %}

    {% block title %}
        YouFilm - Accueil
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
    {% endblock %}

{% block body %}

    {# Utilisateur connecté #}

    {% if app.user is not null %}

        <div class="header">
            <img src="{{ asset('/assets/picture/Logo YouFilm3.png') }}" alt="Logo YouFilm" class="logo">

            <div class="div-button-header-disconnect">
                <a href="{{ path('app_user_logout') }}">
                    <button class="btn btn-danger button-disconnect-header">Déconnexion</button>
                </a>
            </div>
        </div>

    {% else %} {# Utilisateur non-connecté #}

        <div class="header">
            <img src="{{ asset('/assets/picture/Logo YouFilm3.png') }}" alt="Logo YouFilm" class="logo">

            <div class="div-button-header-login-register d-flex">
                <div class="div-button-header-login">
                    <a href="{{ path('app_user_login') }}">
                        <button class="btn btn-danger button-login-header">Connexion</button>
                    </a>
                </div>
                <div class="div-button-header-register">
                    <a href="{{ path('app_user_register') }}" class="ms-2">
                        <button class="btn btn-danger button-login-header">Inscription</button>
                    </a>
                </div>
            </div>
        </div>

    {% endif %}

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="height: 30vh">
        <div class="carousel-inner h-100">
            <div class="carousel-item active" style="width: 100%; height: 100% ">
                <img src="{{ asset('images/thumb-1920-1065042.jpg') }}" class="d-block w-100 h-100" alt="..." style="object-fit: cover">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/thumb-1920-550739.jpg') }}" class="d-block w-100 h-100" alt="..." style="object-fit: cover">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/fdde1e13b1e50de26838e37f278be58a.jpeg') }}" class="d-block w-100 h-100" alt="..." style="object-fit: cover">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <div class="d-flex align-items-center justify-content-between div-more-film">
        <div class="category">
            <h3 class="recent-movie"> Film récents : </h3>
        </div>
        <div class="more-film">
            <a href="{{ path('app_all_movie') }}">
                <button class="btn btn-danger button">Plus de film</button>
            </a>
        </div>
    </div>

    <div class="card-movie justify-content-center">
        {% for movie in movies|slice(0, 8) %}

            <a href="{{ path('movie_show', { 'id': movie.id }) }} " class="movie-list">
                <div class="m-3 me-2 ms-2">
                    <img src="/images/{{ movie.thumbnail }}" class="card-img-top movie-thumbnail" alt="miniature film">
                </div>
            </a>

        {% endfor %}
    </div>

    <div class="category">
        <h3> Catégories : </h3>
    </div>

    <div class="d-flex align-items-center overflow-auto oui">
        <div class="card-group flex-nowrap">
            {% for categorie in category %}
                <a href="{{ path('app_category', { 'name': categorie.name }) }}">
                    <div class="card d-flex justify-content-center align-items-center m-4">
                        <h2>{{ categorie.name }}</h2>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>


{% endblock %}