{% extends 'base.html.twig' %}

    {% block title %}
        YouFilm - Accueil
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
    {% endblock %}

{% block body %}

    <div class="header">
        <a href="{{ path('app_home_home') }}"><img src="{{ asset('/assets/picture/Logo YouFilm3.png') }}" alt="Logo YouFilm" class="logo"></a>

        {# Utilisateur connecté #}

        {% if app.user is not null %}

            <div class="bg-red dropmenu-div dropdown user-menu-wrapper d-flex justify-content-center">
                <a type="button" class="dropmenu-div-a" data-bs-toggle="dropdown" data-bs-offset="0,5"
                   aria-expanded="false">
                    <div class="dropmenu-container d-flex align-items-center justify-content-center">
                        <i><img src="{{ asset('assets/picture/user.png') }}" alt="icone"></i>
                    </div>
                </a>

                <ul class="bg-color-1 dropmenu-ul dropdown-menu dropdown-menu-end">
                    <li class="dropdown-user-details">
                        <div class="color-whitesmoke d-flex justify-content-center align-items-center">
                            <span class="connected-in">Connecté en : </span>
                            <span class="dropmenu-username"> {{ user.username }}</span>
                        </div>
                    </li>

                    <li class="dropmenu-li">
                        <a href="{{ path('app_favorite_movie') }}" class="dropdown-item user-action " target="_self"
                           referrerpolicy="origin-when-cross-origin">
                            <div class="d-flex justify-content-start align-items-center">
                                <img src="{{ asset('assets/picture/etoile-pleine.png') }}"
                                     class="dropmenu-icon-favorite d-flex align-items-center justify-content-start"
                                     alt="Favorite icon">
                                <span class="color-whitesmoke">Favoris</span></div>
                        </a>
                    </li>

                    <li class="dropmenu-li">
                        <a href="{{ path('app_account') }}" class="dropdown-item user-action " target="_self"
                           referrerpolicy="origin-when-cross-origin">
                            <div class="d-flex justify-content-start align-items-center">
                                <img src="{{ asset('assets/picture/user.png') }}" class="dropmenu-icon-home d-flex align-items-center justify-content-start" alt="user icon">
                                <span class="color-whitesmoke">Compte</span></div>
                        </a>
                    </li>

                    <li>
                        <hr class="color-whitesmoke">
                    </li>
                    <li>
                        <a href="/logout" class="dropdown-item user-action " target="_self"
                           referrerpolicy="origin-when-cross-origin">
                            <div class="d-flex justify-content-center align-items-center">
                                <img src="{{ asset('assets/picture/logout (2).png') }}"
                                     class="dropmenu-icon-signout d-flex align-items-center justify-content-start"
                                     alt="sign out icon">
                                <span class="color-whitesmoke">Déconnexion</span></div>
                        </a>
                    </li>
                </ul>
            </div>

        {% else %} {# Utilisateur non-connecté #}


            <div class="bg-red dropmenu-div dropdown user-menu-wrapper d-flex justify-content-center">
                <a type="button" class="dropmenu-div-a" data-bs-toggle="dropdown" data-bs-offset="0,5"
                   aria-expanded="false">
                    <div class="dropmenu-container d-flex align-items-center justify-content-center">
                        <i><img src="{{ asset('assets/picture/user.png') }}" alt="icone"></i>
                    </div>
                </a>

                <ul class="bg-color-1 dropdown-menu dropmenu-ul dropdown-menu-end">
                    <li class="dropmenu-li">
                        <a href="{{ path('app_user_login') }}" class="dropdown-item user-action " target="_self" rel=""
                           referrerpolicy="origin-when-cross-origin">
                            <div class="d-flex justify-content-start align-items-center">
                                <img src="{{ asset('assets/picture/user.png') }}"
                                     class="dropmenu-icon-user align-items-center justify-content-start"
                                     alt="User icon">
                                <span class="color-whitesmoke">Connexion</span></div>
                        </a>
                    </li>

                    <li>
                        <hr class="color-whitesmoke">
                    </li>

                    <li class="dropmenu-li">
                        <a href="{{ path('app_user_login') }}" class="dropdown-item user-action " target="_self" rel=""
                           referrerpolicy="origin-when-cross-origin">
                            <div class="d-flex justify-content-start align-items-center">
                                <img src="{{ asset('assets/picture/register.png') }}"
                                     class="dropmenu-icon-signin d-flex align-items-center justify-content-start"
                                     alt="Sign in icon">
                                <span class="color-whitesmoke">Inscription</span></div>
                        </a>
                    </li>
                </ul>

            </div>

        {% endif %}

    </div>

    {# Carousel #}
    <div id="carouselExampleControls" class="big-div-carousel carousel slide" data-bs-ride="carousel" >
        <div class="carousel-inner h-100">
            <div class="full-size carousel-item active">
                <img src="{{ asset('images/thumb-1920-1065042.jpg') }}" class="img-carousel d-block w-100 h-100" alt="Bannière film">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/thumb-1920-550739.jpg') }}" class="img-carousel d-block w-100 h-100" alt="Bannière film">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/fdde1e13b1e50de26838e37f278be58a.jpeg') }}" class="img-carousel d-block w-100 h-100" alt="Bannière film">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    {# Fin carousel #}

    <div class="d-flex align-items-center justify-content-between div-more-film">
        <div class="category">
            <h3 class="recent-movie"> Film récents : </h3>
            <div class="nav-name-line"></div>
        </div>
        <div class="more-film">
            <a href="{{ path('app_all_movie') }}">
                <button class="btn btn-danger button">Plus de film</button>
            </a>
        </div>
    </div>

    <div class="card-movie justify-content-center">
        {% for movie in movies|slice(0, 8) %}

            <a href="{{ path('movie_show', { 'id': movie.id }) }} " class="movie-list">
                <div class="m-3 me-2 ms-2">
                    <img src="/images/{{ movie.thumbnail }}" class="card-img-top movie-thumbnail" alt="miniature film">
                </div>
            </a>

        {% endfor %}
    </div>

    <div class="category">
        <h3> Catégories : </h3>
        <div class="nav-name-line-category"></div>
    </div>

    <div class="d-flex align-items-center justify-content-center  oui">
        <div class="card-group flex-nowrap">
            {% for categorie in category %}
                <a href="{{ path('app_category', { 'name': categorie.name }) }}">
                    <div class="card d-flex justify-content-center align-items-center m-4">
                        <h2>{{ categorie.name }}</h2>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>


{% endblock %}