{% extends 'base.html.twig' %}

{% block title %} Login {% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">{% endblock %}


{% block body %}

<body class="align">

<div class="header-login">

    <a href="{{ path('app_home_home') }}"><img src="{{asset('/assets/picture/Logo YouFilm3.png')}}" alt="Logo YouFilm" class="logo-login"></a>

</div>


<div class="grid">

    {{ form_start(form, { 'attr' : { 'class': 'form login' } }) }}

    <div class="form__field">

        {{ form_widget(form._username, {'attr': {'class': 'form__input', 'placeholder':"Nom d'utilisateur"}}) }}

        {{ form_errors(form._username) }}

    </div>

    <div class="form__field">

        {{ form_widget(form._password, {'attr': {'class': 'form__input', 'placeholder':'Mot de passe'}}) }}

        {{ form_errors(form._password) }}

    </div>

    <div class="form__field">

        {{ form_widget(form.submit, {'label': 'Se connecter', 'attr': {'class': 'submit-button'}}) }}

    </div>

    {{ form_end(form) }}

</div>

{% endblock %}

