{% extends 'base.html.twig' %}

{% block title %} Register {% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}"> {% endblock %}

{% block body %}

<body class="align">

<div class="header-login">

    <a href="{{ path('app_home_home') }}"><img src="{{asset('/assets/picture/Logo YouFilm3.png')}}" alt="Logo YouFilm" class="logo-login"></a>

</div>

<div class="grid">

    {{ form_start(form, {'attr' : { 'class': 'form login' } }) }}

    <div class="form__field">

        {{ form_widget(form.username, {'attr': {'class': 'form__input', 'placeholder':'Username'}}) }}

        {{ form_errors(form.username) }}

    </div>

    <div class="form__field">

        {{ form_widget(form.email, {'attr': {'class': 'form__input', 'placeholder':'Email'}}) }}

        {{ form_errors(form.email) }}

    </div>

    <div class=form__field>

        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form__input', 'placeholder':'Mot de passe'}}) }}

        {{ form_errors(form.plainPassword.first) }}

    </div>

    <div class="form__field">

        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form__input', 'placeholder':'Confirmez votre mot de passe '}}) }}

        {{ form_errors(form.plainPassword.second) }}

    </div>

    <div>

        {{ form_widget(form.submit, {'label': "S'inscrire", 'attr': {'class': 'submit-button'}}) }}

    </div>

    {{ form_end(form) }}

</div>


{% endblock %}

